<div class="row">
    <h1>
        Mis Proyectos
    </h1>

    <div class="container">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Snake Game Protect</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo est voluptatibus, facilis quia eos soluta quibusdam ducimus fugit ipsam natus officia velit cum dolor. Fuga qui quos voluptatibus veritatis est?</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/screenshot-snake.png" class="img-fluid proyect-img" alt="">
        </div>
    </div>

    <div class="container">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Tic Tac Toe</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo est voluptatibus, facilis quia eos soluta quibusdam ducimus fugit ipsam natus officia velit cum dolor. Fuga qui quos voluptatibus veritatis est?</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/screenshot-tictactoe.png" class="img-fluid proyect-img" alt="">
        </div>
    </div>
</div>